.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.Forecastcard {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  border: 4px solid gray;
  padding: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
  border: 4px solid gray;
  padding: 20px;
  height: 90vh;
}

.tempChange {
  border: 2px solid gray;
  padding: 20px;
  margin-bottom: 20px;
}

.highlights {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.hC {
  border: 4px solid gray;
  padding: 20px;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  box-shadow: 0 2px 8px rgba(80, 80, 80, 0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
